<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<div th:include="/header.html"></div>
	<link th:href="@{/css/privacidad.css}" rel="stylesheet">
	<title>Política de privacidad | Reservamiento</title>
</head>
<body>
<div class="contenido">
	<div class="indice">
		<h1>INDICE</h1>
		<ol>
			<li><a href="#introduccion">Introducción</a></li>
			<li><a href="#recopilada">Información recopilada</a></li>
			<li><a href="#ubicacion">Dónde se procesa la información</a></li>
			<li><a href="#uso">Uso de la información</a></li>
			<li><a href="#divulgacion">Divulgación de la información</a></li>
			<li><a href="#contacto">Contacto</a></li>
		</ol>
	</div>
	<h1 id="introduccion">1. INTRODUCCION</h1>
	<p>Reservamiento ofrece un servidor Web. Esta Política de Privacidad expone la política sobre la información recopilada de los usuarios. En base a la legislación aplicable, Reservamiento es el "responsable del tratamiento" de los datos personales recopilados.</p>
	<h1 id="recopilada">2. INFORMACION RECOPILADA</h1>
	<p>Al interactuar con la Web, se puede recopilar tu información, tal y como se describe más abajo.</p>
	<p><b>Información proporcionada por ti:</b> Se recopila información cuando voluntariamente proporcionas dicha información al utilizar determinados Servicios. La información que se recopila podría incluir, entre otros, Nombre y Apellidos, Dirección de correo electrónico, Fecha de nacimiento, Sexo, País y provincia de origen, Teléfono móvil.</p>
	<p><b>Datos que se recopilan automáticamente:</b> Al interactuar con Reservamiento a través de los Servicios, se recibe y almacena una determinada información, como dirección IP y tus actividades dentro de los Servicios. Los Servicios podrían utilizar dicha información y almacenarla junto con otra información para calcular, por ejemplo, el número total de usuarios registrados.</p>
	<h1 id="ubicacion">3. DONDE SE PROCESA LA INFORMACION</h1>
	<p>Reservamiento se encuentra en Sevilla, España. Independientemente de tu ubicación, aceptas el procesamiento y la transferencia de tu información en y hacia España. Las leyes sobre la recopilación y el uso de datos podrían no ser tan completas o protectoras como las de tu país de residencia.</p>
	<h1 id="uso">4. USO DE LA INFORMACION</h1>
	<p>Se emplea la información que nos proporcionas en base a esta Política de Privacidad. Si proporcionas información con un objetivo específico, se podría usar la información en conexión con el motivo por el que se proporcionó. Por ejemplo, si contactas mediante el <a href="/contacto">formulario de contacto</a>, se empleará la información proporcionada para responder a tu pregunta o resolver tu problema. Además, si proporcionas información para obtener acceso a los Servicios, se utilizará tu información para proporcionarte acceso a dichos Servicios y para controlar el uso que haces de ellos.</p>
	<h1 id="divulgacion">5. DIVULGACION DE LA INFORMACION</h1>
	<p>Reservamiento no hace negocio con la venta de información. Esta información es considerada como una parte fundamental de la relación contigo. No existen circunstancias por las cuales se pueda compartir tu información con determinados terceros.</p>
	<h1 id="contacto">6. CONTACTO</h1>
	<p>No dudes en contactar si te surge cualquier duda sobre esta Política de Privacidad o sobre el uso de la información de los Servicios. Puedes ponerte en contacto desde el <a href="/contacto">formulario de contacto</a>.</p>
</div>
</body>
</html>